#logs
logs
*.log

#runtime data
pids
*.pid
*.seed

#jscoverage
lib-cov

#coverage istambul
coverage

build/release

#dependencies
node_modules
bower_components

#sass
.sass-cache

git-flow

#ide
*.idea
.idea
