<p>There are {{totalCarParts()}} total parts in stock.</p>
<ol>
    <li class="card" *ngFor="let carPart of carParts" [class.featured]="carPart.featured">
        <div class="panel-body">
            <div class="photo">
                <img [src]="carPart.image" class="new-image" />
            </div>
            <table class="product-info">
                <tr>
                    <td>
                        <h2>{{carPart.name | uppercase}}</h2>
                        <p class="description">{{carPart.description}}</p>
                        <p class="inventory" *ngIf="carPart.inStock > 0">{{carPart.inStock}} in Stock</p>
                        <p class="inventory" *ngIf="carPart.inStock === 0">Out of Stock</p>
                    </td>
                    <td>
                        <p class="price">{{carPart.price | currency:'EUR':true}}</p>
                    </td>
                    <td>
                        <div class="select-quantity">
                            <button class="decrease" (click)="downQuantity(carPart)">-</button>
                            <input class="number" type="text" [(ngModel)]="carPart.quantity">
                            <button class="increase" (click)="upQuantity(carPart)">+</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </li>
</ol>
